.card__container {
  gap: 20px 17px;
  max-width: 880px;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  max-width: 282px;
  margin: 0 auto;
  position: relative;
}

.card__image {
  width: 282px;
  display: block;
  object-fit: cover;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__trash-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  padding: 0;
  background-image: url("../images/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease-in-out;
}

.card__trash-button:hover {
  opacity: 50%;
}

.card__title {
  color: #000000;
  font-size: 24px;
  line-height: 1.2;
  margin: 25px 0 25px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background: transparent url("../images/heart.svg") center no-repeat;
  background-size: 21px 18px;
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
}

.card__heart {
}

.card__heart-fill {
  background-image: url("../images/heartactive.svg");
}

.card__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__text {
  display: flex;
  align-content: center;
}

@media screen and (min-width: 0px) and (max-width: 580px) {
  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 581px) and (max-width: 880px) {
  .card__container {
    max-width: 581px;
    grid-template-columns: repeat(2, 1fr);
  }
}
