.cards {
  padding: 0;
  row-gap: 20px;
  column-gap: 17px;
  max-width: 880px;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.card {
  background: #ffffff;
  border-radius: 10px;
}

.card__image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  color: #151515;
  margin: 25px 0 25px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__heart {
  margin: 0 30px 0 auto;
  transition: opacity 0.3s ease-in-out;
}

.card__heart:hover {
  opacity: 60%;
}

.card__text {
  display: flex;
  align-content: center;
}
