.header {
  display: flex;
  margin: 45px auto 0;
  padding-bottom: 41px;
  border-bottom: 2px solid #515151;
  width: 100%;
  max-width: 880px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  padding: 0 0 0 27px;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 28px 0 0;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 581px) {
  .header {
    margin: 28px 0 0;
    padding-bottom: 32px;
  }
}
