.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal__preview-image {
  margin: auto;
  max-width: 75vw;
  max-height: 75vh;
  display: block;
  z-index: 999;
}

.modal__preview-caption {
  padding: 12px 12px;
  background-color: #000;
}

.modal__container {
  position: relative;
  background-color: #fff;
  color: #000000;
  margin: auto;
  max-width: 430px;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease-in-out;
}

.modal__preview-close {
  position: relative;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 54px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__input {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8px;
}

.modal__button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__input-error {
  color: red;
  font-size: 12px;
  opacity: 0;
  max-width: 350px;
}

.modal__button_disabled {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.modal__error_visible {
  opacity: 1;
}

@media screen and (max-width: 580px) {
  .modal {
    margin: 0 auto;
  }
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 75px 0;
  }
  .modal__close {
    width: 20px;
    height: 20px;
    bottom: calc(100% + 22px);
    left: calc(100% - 28px);
  }
  .modal__add-close {
    width: 20px;
    height: 20px;
    bottom: calc(100% + 22px);
    left: calc(100% - 28px);
  }
  .modal__input {
    line-height: 20px;
    padding-bottom: 5px;
  }
  .modal__button {
    max-width: 238px;
    max-height: 46px;
    margin-top: 15px;
    font-size: 14px;
  }
  .modal__preview-close {
    bottom: calc(100% + 32px);
    left: calc(100% - 32px);
  }
}
