.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0;
  max-width: 880px;
  margin: 0 auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  gap: 14px;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, auto) auto;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  grid-area: title;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 0;
  grid-area: description;
  align-self: start;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: transparent url(../images/pencil.svg) center no-repeat;
  margin: 0;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  grid-area: button;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  margin-left: auto;
  border: 2px solid #fff;
  background-color: transparent;
  width: 150px;
  height: 50px;
  padding: 12px 62px;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__add-image {
  height: 22px;
  width: 22px;
}

@media screen and (max-width: 320px) {
  .profile__image {
    margin: 0 auto;
  }
  .profile__info {
    padding: 30px 0 36px 0;
    margin: 0 auto;
    grid-template-areas:
      "title button"
      "description";
  }
  .profile__title {
    font-size: 22px;
    margin: 0 auto;
    max-width: 250px;
  }
  .profile__description {
    font-size: 14px;
    margin: auto;
    max-width: 250px;
  }
  .profile__add-button {
    margin: 0 auto 0;
    width: 282px;
    padding: 0;
  }
  .profile__edit-button {
    background: transparent url(../images/pencil.svg) center/100% no-repeat;
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 321px) and (max-width: 581px) {
  .profile {
    box-sizing: border-box;
  }
  .profile__image {
    margin: 0 auto;
  }
  .profile__info {
    padding: 30px 50px 36px 50px;
    margin: 0 auto;
    grid-template-areas:
      "title button"
      "description";
  }
  .profile__title {
    font-size: 22px;
    margin: 0 auto;
    max-width: 200px;
  }
  .profile__description {
    font-size: 14px;
    margin: 0 auto;
    max-width: 200px;
  }
  .profile__add-button {
    margin: 0 auto 0;
    width: 282px;
    padding: 0;
  }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
  .profile {
    padding-left: 100px;
    padding-right: 100px;
  }
  .profile__image {
    margin: 0 auto;
  }
  .profile__info {
    margin: 0;
    grid-template-areas:
      "title button"
      "description";
  }
  .profile__title {
    font-size: 32px;
    max-width: 300px;
  }
  .profile__description {
    font-size: 20px;
    max-width: 300px;
  }
  .profile__add-button {
    margin: auto;
    width: 282px;
  }
}
