.profile {
  display: grid;
  grid-template-columns: 120px max-content 24px auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar name edit add-button"
    "avatar description . add-button";
  margin: 40px auto 51px;
  max-width: 880px;
  max-height: 120px;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  grid-area: avatar;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  margin: 0 0 0 30px;
  grid-area: name;
  align-self: end;
}

.profile__edit-button {
  background-color: #000000;
  margin: 18px 0 0 18px;
  border: none;
  max-width: 24px;
  max-height: 24px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  grid-area: edit;
}

.profile__edit-button:hover {
  opacity: 75%;
}

.profile__add-button {
  margin: 0 0 0 auto;
  border: 2px solid #fff;
  background-color: #000000;
  max-width: 150px;
  max-height: 50px;
  padding: 12px 62px;
  transition: opacity 0.2s ease-in-out;
  grid-area: add-button;
  /* align-self: center; */
}

.profile__add-button:hover {
  opacity: 75%;
}

.profile__add-button_image {
  height: 22px;
  width: 22px;
}

.profile__description {
  max-width: 415px;
  margin: 7px 0 0 30px;
  padding: 0;
  grid-area: description;
  align-self: start;
}
