.header {
  display: flex;
  margin: 45px auto 0;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  max-width: 880px;
}

.header__logo {
  width: 173px;
  height: 33px;
  padding: 0;
}

@media screen and (max-width: 450px) {
  .header {
    margin: 28px 0 0;
    padding-bottom: 32px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}

@media screen and (min-width: 450px) and (max-width: 880px) {
  .header {
    margin: 36px 0 0;
    padding-bottom: 36px;
  }
  .header__logo {
    padding-left: 16px;
  }
}
